.container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  font-size: 60px;
  color: var(--bs-primary);

  &:hover {
    color: var(--bs-secondary);
  }
}
