<div class="container">
  Find me on:

  <ul class="nav justify-content-center mt-2">
    <li class="nav-item">
      <a class="nav-link" href="https://www.linkedin.com/in/efriandika/" target="_blank" rel="noreferrer" title="Linkedin">
        <i class="bi bi-linkedin nav-icon" role="img" aria-label="Linkedin"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/efriandika/" target="_blank" rel="noreferrer" title="Github">
        <i class="bi bi-github nav-icon" role="img" aria-label="GitHub"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://stackoverflow.com/users/4668027/efriandika-pratama" target="_blank" rel="noreferrer" title="Stack Overflow">
        <i class="bi bi-stack nav-icon" role="img" aria-label="Stack Overflow"></i>
      </a>
    </li>
  </ul>
</div>
