<div class="overflow-hidden">
  <div class="container d-flex align-items-stretch p-0">
    <div class="row w-100">
      <div class="d-flex col-md justify-content-center align-items-center order-2 order-md-1 position-relative p-5">
        <div class="error-bg-skew bg-white"></div>
        <img alt="404" src="assets/images/child-sad.gif">
      </div>

      <div class="d-flex col-md-5 justify-content-center align-items-center order-1 order-md-2 p-5">
        <div>
          <h1 class="display-2 font-weight-semibold mb-4">Whoops...</h1>
          <div class="text-xlarge mb-5">We couldn't find the page<br> you are looking for :(</div>
          <button (click)="goToHome()" class="btn btn-primary" type="button">←&nbsp; Go Back</button>

          <div class="mt-5">efriandika &copy; 2021</div>
        </div>
      </div>

    </div>
  </div>
</div>
