<footer class="footer">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/dashboard'">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/about'">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://efriandika.github.io/backbase-react" target="_blank" rel="noreferrer">Live Demo</a>
    </li>
  </ul>

  <div class="footer-text">
    Made with <i class="bi bi-heart" role="img" aria-label="Love"></i> for Backbase Interview Assignment.
  </div>

  <div class="author">
    <a href="https://www.linkedin.com/in/efriandika/" target="_blank"  rel="noreferrer">
      Efriandika Pratama
    </a>
  </div>
</footer>
